// MEMO: デプロイ時はnullにすること
$test: null;
// $test: 1;

@mixin absoluteBox {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@mixin unSelectable {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}