
/* ウィンドウ関連のスタイル */

// ウィンドウ右上のボタンのサイズ
$windowHeaderItemSize: 40px;

// ウィンドウのスクロールバーのスタイル
$windowScrollbarWidth: 5px;
$windowScrollbarBorderRadius: 4px;
$windowScrollbarBoxShadow: white 0 0 3px inset;